@import "normalize.css";

$spacer: 0.5rem;
$spacer-2: 0.75rem;
$spacer-3: 1rem;
$spacer-4: 1.25rem;
$spacer-5: 1.5rem;
$spacer-6: 1.75rem;

$theme-positive-green: #00C870;
$theme-positive-green-inactive: #C4EDDC;
$theme-positive-green-text-muted: #ABD1C1;

$border-color: #e0e0e0;
$border-radius: 4px;
$border: 1px solid $border-color;

$font-size-caption: 0.75rem;
$font-size-body: 1rem;
$font-size-heading: 1.125rem;

$line-height-headings: 1.33;
$line-height-body: 1.5;

$progress-counter: progress-counter;
$progress-bar-thickness: 3px;
$progress-bar-thickness-lg: 6px;

$progress-horizontal-step-diameter: 55px;
$progress-vertical-step-diameter: 40px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

%heading {
  font-size: $font-size-heading;
  font-weight: 700;
  line-height: $line-height-headings;
  margin: 0;
}

%body {
}

.test-container {
  padding-top: calc($spacer-5 * 4);
  max-width: 720px;
  margin: 0 auto;
  font-family: sans-serif;
}

/* ICON CLASSES */

.icon-bill {
  content: svg-load(../images/icon-bill.svg, fill=#fff);
}

.icon-lightbulb {
  content: svg-load(../images/icon-lightbulb.svg, fill=#fff);
}

.icon-congress-1 {
  content: svg-load(../images/icon-congress-1.svg, fill=#fff);
}

.icon-congress-2 {
  content: svg-load(../images/icon-congress-2.svg, fill=#fff);
}

.icon-gavel {
  content: svg-load(../images/icon-gavel.svg, fill=#fff);
}

/* CARD */

.card {
  border-radius: 3px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.05);
  font-size: 110%;

  @media (min-width: $breakpoint-lg) {
    font-size: 100%;
  }
}

.card-body {
  border: $border;
  border-top: none;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  padding-top: $spacer-3;
  padding-bottom: $spacer-3;
  font-size: $font-size-body;
  line-height: $line-height-body;

  @media (min-width: $breakpoint-sm) {
    padding-top: $spacer-5;
    padding-bottom: $spacer-5;
  }
}

.card-header,
.card-body {
  padding-left: $spacer-3;
  padding-right: $spacer-3;

  @media (min-width: $breakpoint-sm) {
    padding-left: $spacer-5;
    padding-right: $spacer-5;
  }
}

.card-header {
  display: flex;
  background-color: $theme-positive-green;
  color: white;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.card-header__title,
.card-header__subtitle {
  @extend %heading;
  align-self: center;
  padding-top: $spacer-2;
  padding-bottom: $spacer-2;

  @media (min-width: $breakpoint-sm) {
    padding-top: $spacer-4;
    padding-bottom: $spacer-4;
  }
}

.card-header__title {
  text-transform: uppercase;
}

.card-header__divider {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.9rem $spacer-3;
  width: 1px;
  height: auto;

  @media (min-width: $breakpoint-sm) {
    margin-left: $spacer-4;
    margin-right: $spacer-4;
  }
}


/* LIST */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;

  @media (min-width: $breakpoint-md) {
    padding-right: $spacer-4;
  }
}

.list-item + .list-item {
  padding-top: $spacer-5;
  margin-top: $spacer-5;
  border-top: $border;
}

.list-item__icon {
  display: none;

  @media (min-width: $breakpoint-md) {
    display: block;
    width: 2.625rem;
  }
}

.list-item__body {
  flex: 1;
}

.list-item__heading {
  @extend %heading;
  margin-bottom: $spacer;
}

.list-item__desc {
  margin: 0 0 $spacer-4 0;
}

/* PROGRESS */

.progress {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
  }
}

.progress-step {
  flex: 1;
  display: inline-flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;

  @media (min-width: $breakpoint-sm) {
    flex-direction: column;
    padding-bottom: calc($progress-horizontal-step-diameter / 2 - $progress-horizontal-step-diameter / 2);
  }
}

.progress-step:not(:first-child)::before {
  content: '';
  position: absolute;
  z-index: -10;
  background-color: $theme-positive-green-inactive;
  width: $progress-bar-thickness;
  height: 100%;
  top: -50%;
  left: calc($progress-vertical-step-diameter / 2);
  margin-left: -calc($progress-bar-thickness / 2);

  @media (min-width: $breakpoint-sm) {
    width: 100%;
    height: $progress-bar-thickness-lg;
    left: -50%;
    top: auto;
    bottom: calc($progress-horizontal-step-diameter / 2);
    margin-bottom: -calc($progress-bar-thickness-lg / 2);
  }
}

.progress-step + .progress-step {
  margin-top: $spacer-3;

  @media (min-width: $breakpoint-sm) {
    margin-top: 0;
  }
}

.progress-step__info {
  padding-left: $spacer-3;
  order: 2;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: auto;
    padding-left: 0;
    text-align: center;
    order: 0;
  }
}

.progress-step__title,
.progress-step__subtitle {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: $font-size-caption;
  color: $theme-positive-green-text-muted;

  @media (min-width: $breakpoint-sm) {
  }
}

.progress-step__icon-wrapper {
  border-radius: 50%;
  background-color: $theme-positive-green-inactive;
}

.progress-step__icon {
  padding: calc($progress-vertical-step-diameter / 4);
  width: calc($progress-vertical-step-diameter / 2);
  height: calc($progress-vertical-step-diameter / 2);

  @media (min-width: $breakpoint-sm) {
    padding: calc($progress-horizontal-step-diameter / 4);
    width: calc($progress-horizontal-step-diameter / 2);
    height: calc($progress-horizontal-step-diameter / 2);
  }
}

.progress-step--done {
  padding-bottom: 0;

  &:not(:first-child)::before {
    background-color: $theme-positive-green;
  }

  .progress-step__info {
    @media (min-width: $breakpoint-sm) {
      margin-bottom: 0.35rem;
    }
  }

  .progress-step__title {
    color: $theme-positive-green;
  }

  .progress-step__icon-wrapper {
    background-color: $theme-positive-green;
  }

  .progress-step__icon {
    @media (min-width: $breakpoint-sm) {
      padding: calc($progress-horizontal-step-diameter / 4);
      width: calc($progress-horizontal-step-diameter / 2);
      height: calc($progress-horizontal-step-diameter / 2);
    }
  }
}

.progress-bar {
  position: absolute;
  /* HACK - find better way to give bar top/bottom padding */
  height: 95%;
  top: 0;
  left: calc($progress-vertical-step-diameter / 2);
  margin-left: -calc($progress-bar-thickness / 2);

  @media (min-width: $breakpoint-sm) {
    width: 100%;
    height: auto;
    bottom: calc($progress-horizontal-step-diameter / 2);
    top: auto;
    left: 0;
    margin-bottom: -calc($progress-bar-thickness-lg / 2);
    margin-left: 0;
  }
}

.progress-bar__inner {
  z-index: -10;
  position: relative;
  width: $progress-bar-thickness;
  height: 100%;
  background-color: $theme-positive-green-inactive;

  @media (min-width: $breakpoint-sm) {
    width: auto;
    height: $progress-bar-thickness-lg;
    margin: 0 40px;
  }
}

.progress-bar__inner:after {
  content: '';
  position: absolute;
  height: 66%;
  width: $progress-bar-thickness;
  background-color: $theme-positive-green;
  z-index: 10;

  @media (min-width: $breakpoint-sm) {
    width: 66%;
    height: $progress-bar-thickness-lg;
  }
}
